.bg-custom{
  background-color: #4d4d4d;
}

.center {
  justify-content: center !important;
}

.header-title {
  height: auto;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  font-size: x-large;
}
